{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base_connection_page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class = "notranslate">
    <h1>Contacts Booklet</h1>
    {% block content %}{% endblock content %}
    {% if user.is_authenticated %}
        <p>Your are connected as {{ request.user }}. 
        <a href="{% url 'logout' %}">Log out</a></p>
    {% endif %}
</body>
</html>
