{% extends 'base2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'parties.css' %}"/>
{% endblock %}

{% block content %}
<div id="div_table">
    <input type="text" id="search" onkeyup="filter()" placeholder="Search for first names, last names or kinds of party.." title="Type in a name">
    <a id="add_btn" href="{% url 'addParty' %}"><button class="btn_1">add +</button></a>
    <span id="count_parties">number of parties: {{ count }}</span>
    <div id="scroll">
    <table class="table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th class="party_kind">Kind</th>
                <th class="party_date">Date</th>
                <!--<th>Telephone n°2</th>-->
                <!-- <th>fk</th> -->
                <th class="t_button">Management</th>
            </tr>
        </thead>
        <tbody id="table">
        {% for line in parties %}
        <tr>
            <td>{{ line.first_name }}</td>
            <td>{{ line.last_name }}</td>
            <td class="party_kind">{{ line.party_name}}</td>
            <td class="party_date">{{ line.party_date}}</td>
            <!--<td>{{ line.telephone2 }}</td>-->
            <!-- <td>{{ line.user }}</td> -->
            <td class="t_button">
                <a href="{% url 'partyDetails' line.id %}"><button class="btn_2">details</button></a>
                <a href="{% url 'editParty' line.id %}"><button class="btn_2">edit</button></a>
                <a href="{% url 'deleteParty' line.id %}"><button class="btn_2">delete</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock content %}
{% block script %}
    <script src="{% static 'parties.js' %}"></script>
{% endblock script %}