h2{
    text-align: center;
    padding-bottom: 1em;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 2em;
}

a:hover {
    color:red;
}

form, p{
    text-align: center;
}

label {
    display: inline-block;
    width: 9em;
    text-align: left;
}

input {
    width: 16em;
}
/*
img{
    width: 50%;
    max-height: 20em;
}

.column {
    float: left;
    width: 30%;
    text-align: center;
}

.column_form {
    width: 40%;
    float: left;
}*/

button {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgb(0, 140, 180);
    margin-top: 1em;
}

button:hover {
    background-color: rgb(0, 120, 160);
}


/* Adaptations téléphones */

@media only screen and (max-width: 400px) {
    label {
        margin-left:5%;
        margin-right:5%;
        width: 14em; 
    }
    input {
        margin-left:5%;
        margin-right:5%; 
    }
}

@media only screen and (max-width: 300px) {
    input {
        width: 14em;
    }
    label {
        width: 12em; 
    }
}
