h2{
    text-align: center;
    padding-bottom: 1em;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 2em;
}

a:hover {
    color:red;
}

p{
    text-align: center;
    white-space: normal;
}


.label{
    display: inline-block;
    text-align: left;
    width: 10em;
    font-weight: bold;
}

.info {
    text-align: left;
    display: inline-block;
    width: 10em;
}

/* Adaptations téléphones */

.details_form {
    text-align: center;
    margin-left: 5%;
}

@media only screen and (max-width: 800px) {
    .details_form {
        margin-left: 10%;
    }
    .label{
        width: 9em;
    }
    
    .info {
        width: 9em;
    }
}

/*
@media only screen and (max-width: 400px) {
    .label {
        display: none;
    }
}
*/

