{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base_application_page</title>
    <link rel="stylesheet" href="{% static 'style2.css'%}">
    {% block css %}
    {% endblock %}
</head>
<body class = "notranslate">
    <h1 id="h1_base">Contacts Booklet</h1>
    {% block content %}{% endblock content %}
    {% block script %}
    {% endblock %}
</body>
</html>
